{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 2 versions", "ie >= 10"]
            },
            "useBuiltIns": true,
            "debug": true,
        }]
    ],
    "plugins": ["dynamic-import-webpack"]
}
